@import '~@style/_breakpoints.scss';

.checklistItem {
    align-items: center;
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
    position: relative;

    img {
        height: 35px;
        margin-bottom: 3px;

        @media screen and (min-width: $breakpoint-large) {
            height: 50px;
        }
    }

    p {
        font-size: 8px;

        @media screen and (min-width: $breakpoint-large) {
            font-size: 10px;
        }
    }

    .found {
        position: absolute;
    }
}