.startScreen {
    align-items: center;
    display: flex;
    flex-direction: column;
    height: 100vh;
    gap: 30px;
    padding: 15vh 0;
}

.startScreenImages {
    align-items: center;
    display: flex;
    justify-content: center;
    gap: 20px;
}