.feedbackIcon {
    animation: 1s flashIcon ease-out;
    position: absolute;
    z-index: 10;

    .faIcon {
        font-size: 50px;
    }
}

.correctIcon {
    color: rgb(87, 218, 87)
}

.incorrectIcon {
    color: rgb(214, 38, 91)
}

@keyframes flashIcon {
    0% {
      opacity: 0;
      transform: translate(-50%, -50%) translateY(0);
    }
    75% {
      opacity: 1;
      transform: translate(-50%, -50%) translateY(-20%);
    }
    100% {
      opacity: 0;
      transform: translate(-50%, -50%) translateY(-40%);
    }
  }