.imageTile {
    border: 3px solid #fff;
    border-radius: 10px;
    cursor: pointer;
    height: 400px;

    &:hover {
        transform: scale(1.05)
    }

    img {
        border-radius: 10px;
        height: 100%;
    }

    transition: transform .1s;
    -webkit-transition: transform .1s;
    -moz-transition: transform .1s;
    -o-transition: transform .1s;
}