.imageTile {
    border: 3px solid #fff;
    border-radius: 10px;
    cursor: pointer;
    display: inline-block;
    height: 380px;
    overflow: hidden;
    width: 280px;

    img {
        border-radius: 10px;
        height: auto;
        width: 100%;
    }

    transition: transform .1s;
    -webkit-transition: transform .1s;
    -moz-transition: transform .1s;
    -o-transition: transform .1s;
}