@import '~@style/_breakpoints.scss';

.checklistToggle {
    align-items: center;
    background-color: rgba(50, 50, 50, 0.7);
    border: 3px solid #fff;
    border-radius: 10px;
    color: #FFF;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    min-height: 20px;
    left: 10px;
    position: fixed;
    top: 10px;
    width: 40px;

    @media screen and (min-width: $breakpoint-large) {
        min-height: 40px;
        width: 55px;
    } 

    .faIcon {
        font-size: 15px;
        margin: 6px 0 8px 0;

        &.toggleActive {
            transform: rotate(180deg);
            transform-origin: center;
        }

        transition: transform ease-in-out .3s;
        -webkit-transition: transform ease-in-out .3s;
        -moz-transition: transform ease-in-out .3s;
        -o-transition: transform ease-in-out .3s;

        @media screen and (min-width: $breakpoint-large) {
            font-size: 30px;
        }
    }
}

.checklist {
    cursor: default;
    max-height: 0;
    pointer-events: none;
    width: 100%;

    &.checklistActive {
        max-height: 800px;
    }

    transition: max-height ease-in-out .5s;
    -webkit-transition: max-height ease-in-out .5s;
    -moz-transition: max-height ease-in-out .5s;
    -o-transition: max-height ease-in-out .5s;
}
