@import '~@style/_breakpoints.scss';

.timerContainer {
    align-items: center;
    background-color: rgba(50, 50, 50, 0.7);
    border: 3px solid #FFF;
    border-radius: 10px;
    color: #FFF;
    display: flex;
    font-size: 30px;
    left: 50%;
    letter-spacing: 2px;
    justify-content: center;
    padding: 5px 5px 5px 10px;
    position: fixed;
    top: 10px;
    transform: translateX(-50%);
    width: 200px;

    svg {
        margin-right: 10px;
    }
}
